/*css commun*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #d6f2fb
}

a{
    color: white;
    text-decoration: none;
}


/*Navigation*/

#logo{
    width: 1.5em;
}


.items-nav{
    display: flex; 
    justify-content: space-between;
    align-items: baseline;        
}

header{
    background-image: url(ressources/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.div-nav{
    display: flex;
    align-items: baseline;    
}

.div-nav li{
    font-weight: 700;
    color: white;
    list-style: none;
    padding: 0.5em;   
}

#title-banner{
    font-family: 'Kalam', cursive;
    font-size: 70px;
    text-align: center;
    padding: 2em 0;
    color: white;    
}




/* TEMOIN */

#section-temoin{
    background-color: #d6f2fb;
}
.temoin{
    display: flex;
    flex-direction: column;
}
.temoin div{
    background-color: white;
    padding: 2em 2em 1em 1em;
    text-align: center;   
    width: 50vw;
    font-size: 28px; 
}
.temoin div p{
    font-size: 22px;
}
.temoin1{
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0% 15% 215% 0%;
}
.temoin2{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border-radius: 15% 0% 0% 215%;
}
.temoin3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0% 15% 215% 0%;
}

.temoin-pic1, .temoin-pic2, .temoin-pic3{
    border-radius: 50%;
    height: 15vw;
}
.temoin-pic1{
    align-self: flex-end;
}
.temoin-pic2{
    align-self: flex-start;
}
.temoin-pic3{
    align-self: flex-end;
}
.author{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 20px;
    margin-top: 25px;
    margin-left: 150px;
}
.authorMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 20px;
    margin-top: 25px;
    margin-right: 150px;
}
.titreDA{
    margin-top: 4px;
    font-size: 12px;
    color: grey;
}



.articleTitle{
    font-size: 3em;
    letter-spacing: 0.4em;
    text-align: center;
    margin: 90px auto 50px auto;
}

.imgDragon{
    width: 650px;
    display: block;
    margin: 50px auto;
}

.texteArticle {
    font-size: 0.8em;
    width: 45%;
    margin: 50px auto;
    line-height: 1.7em
}

.texteArticle span{
    font-weight: 600;
}

.sources, .discoverLinks{
    width: 45%;
    margin: 50px auto;
}

.sources{
    text-align: right;
}
.linksArticles{
    list-style: none;
    font-size: 0.8em;
    font-style: italic;
}

.linksArticles a{
    text-decoration: none;
    color: black
}





/* auteur de l'article*/

.citation{
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.7em;
}

.authorSection{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
    
      
}

.sectionauteur{
    background-color: white;
}


.profil{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
    left: 10%;

}


.citationaccueil p{
    text-align: center;
    margin: 80px 10px 80px 10px;
    color: #0e8fba;
    font-size: 17pt;

}

/*Titres formulaire et contact */
.titrescontact {
    font-size: 3em;
    letter-spacing: 0.4em;
    text-align: center;
    margin: 90px auto 50px auto;
    text-align:center
   
}

/* A propos */

p{
    margin-left: 30%;
    margin-right: 30%; 
  }
  
  
  #partagezavecnous {
    font-weight: bold;
  }
  #lateam {
    text-align: right;
  }
  
  img.phototeam {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 30px;
    }
  
#partagezavecnous {
    font-weight: bold;
      }
 #lateam {
    text-align: right;
 }

/* Formulaire */

.arriereplanformulaire{
 background-color: white;
 padding-top: 0.5px;
}

:focus{outline: none;}

.col-3{
  display: flex;
  flex-direction: column;
  width: 27.33%; 
  margin: 40px 36%; 
  position: relative;
  } 


input[type="text"]{
  font-family: 'Montserrat', sans-serif;
  color: #333; 
  box-sizing: border-box; 
  letter-spacing: 1px;}


#partagezavecnous {
  font-weight: bold;
}
#lateam {
  text-align: right;
}


.effect-8 ~ .focus-border:before,
.effect-8 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #62d8ff; transition: 0.4s;}
.effect-8 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-8 ~ .focus-border i:before,
.effect-8 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #62d8ff; transition: 0.5s;}
.effect-8 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-8:focus ~ .focus-border:before,
.effect-8:focus ~ .focus-border:after{width: 100%; transition: 0.4s;}
.effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after{height: 100%; transition: 0.5s;}

textarea {
    min-height : 180px;
   }

/*bouton envoyer */
.boutonformu{
  margin-right:43%;
  margin-left:57%;
}

 






.citationaccueil p{
    text-align: center;
    margin: 100px 10px 100px 10px;
    color: #0e8fba;
    font-size: 25pt;
}


/*Articles*/


.cartoonimg {
    border-radius: 8px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}



.article{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.articlesacceuil{
    color: black;
    margin: 20px 4px 50px 4px;
    padding: 8px;
    border-radius: 8px;

}

.imagepokemon, .imagedragonball, .imagesonic{
    margin-left: 4px;
    margin-right: 4px;
    background:white;
    padding: 0;     
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}

.text-justify {
    text-align: justify;
    text-justify: auto;
    font-size: 12pt;
    color: #0e8fba;
    margin-left: 4px;
    margin-right: 4px;
    margin: 20px 0px 20px 0px;
}



.articlesacceuil a{
    background-color: #0e8fba;
    margin-top: 4px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

.articlesacceuil a:hover{
    background-color: #62d8ff;
}

.articlesacceuil h2{
    color:#0e8fba;
}

button{
    border: none;
    background-color: rgba(255,255,255,0);
    color: white;
    font-weight: bolder;
    font-family: 'Aleo', serif;
}


footer{
    background-color: #0e8fba;
    
}

#logo-footer{
    size: 3em;
}

footer{
    display: flex;
    width: 100%;
    
    
}

footer p{
    color:#62d8ff;
}
footer div{
    display: flex;
    flex-direction: column;
    padding: 10px 40px;

}

.reseaux{
    display: flex;
    flex-direction:row;
}
.icone{
    width: 2em;
}




@media screen and (max-width: 640px){

    .div-nav li{
        font-size: 0.7em;
    }
    #site-search{
        display: none;
    }

    #buttonSearch{
        display: none;
    }

    .texteArticle{
        font-size: 0.8em;
        width: 70%;
    }

    .imgDragon{
        width: 360px;
    }

    .sources, .discoverLinks{
        width: 90%;
        margin: 30px auto;
        font-size: 0.7em;
    }


    .citation{
        margin-top: 30px;
        font-size: 0.6em;
    }
    
    .authorSection{
        display: block;
        width: 90%;
        padding: 30px 0;   
    }


    /*TEMOIN*/
    
    .profil{
        display: block;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
        left: 0%;
    }

    .temoin1, .temoin2, .temoin3{
        padding: 0 7em 0 7em;
        border-radius: 0% 0% 215% 215%;
        margin: 1.5em 0;
    }
    .temoin-pic1, .temoin-pic2, .temoin-pic3{
        height: 5em;
    }
    .temoin div{
        align-self: center;
    }
    .temoin-pic3, .temoin-pic2, .temoin-pic1{
        align-self: center;
    }
    .authorMiddle{
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 20%;
    }
    .temoin div p{
        align-self: inherit;
        font-size: 20px;
        white-space: nowrap;
    }


   
   /*footer*/
    
   footer>*{
       font-size: 0.6em;
   }

  .div-footer{
       padding: 0;
   }

   footer div{
       padding-left: 20px;
   }

    .github{
        display: none;
    }

    #logo-footer{
        display: none;
    }

    .reseaux{
        flex-direction: row;
    }
      
    

   
     br {
       line-height: 1.5;
   }  
   
  /* Navigation */

   header{
      background-position: center;

    
    }

    #title-banner{
        font-size: 50px;
    }

   /* Articles */

   .citationaccueil p{
       font-size: 20px;
   }


    .article{
        flex-direction: column;
        
    }
    
    .imagepokemon, .imagedragonball, .imagesonic{
        width: 90%;
    }

    body{
        background:white;
        }

    .article a {
        margin-bottom: 20px;
    }
}

