/*css commun*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #d6f2fb
}


/*Navigation*/

#logo{
    width: 1.5em;
}


.items-nav{
    display: flex; 
    justify-content: space-between;
    align-items: baseline;        
}

header{
    background-image: url(ressources/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.div-nav{
    display: flex;
    align-items: baseline;    
}

.div-nav li{
    font-weight: 700;
    color: white;
    list-style: none;
    padding: 0.5em;   
}

#title-banner{
    font-family: 'Kalam', cursive;
    font-size: 70px;
    text-align: center;
    padding: 2em 0;
    color: white;    
}







.footer{
    background-color: #0e8fba;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 200px;
    text-align: right;
    color: #d6f2fb;
}

